body {
    font-family: 'Courier New', monospace;
    background-color: #121212;
    color: #00ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    text-align: center;
}

#status {
    margin-bottom: 10px;
}

#current-player {
    margin-bottom: 5px;
}

#ai-message {
    color: #ff0000;
    font-size: 1em;
    margin-bottom: 20px;
    height: 20px;
    line-height: 20px;
}

#menu {
    margin-bottom: 20px;
}

#board {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    cursor: pointer;
    font-size: 2em;
    color: #00ff00;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

#reset, #theme-toggle, .board-size-button {
    font-family: 'Courier New', monospace;
    margin: 10px;
    padding: 10px;
    background-color: #1e1e1e;
    color: #00ff00;
    border: none;
    cursor: pointer;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.light-mode .cell {
    background-color: #dddddd;
    color: black;
    text-shadow: none;
}

body.light-mode #reset, body.light-mode #theme-toggle, body.light-mode .board-size-button {
    background-color: #eeeeee;
    color: #000000;
}
